.box-login {
    padding: 19% 27%;
}
.isi-login {
    background-color: #f59d15;
}
.text-login {
    padding: 17px 25px 17px 145px;
}
.form-login {
    padding: 10px 15px 10px 1px;
}
.form-login h3 {
    padding-right: 35px;
}
.tombol-login {
    text-align: right;
    padding: 10px 31px;
}
.btn-login {
    padding: 9px 29px;
    margin-right: 20px;
}
.btn-out {
    padding: 9px 29px;
}
.frm {
    margin-bottom: 10px;
}
.foot-login {
    padding: 10px 35px;
}
.foot-login h5 {
    text-align: center;
}



body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #337ab7;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 4%;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
.relative_box {
	position:relative;
	width:30px;
	float:left;
}
.relative_box img {
	width:100%;
}
.relative_box a {
	position:absolute;
	bottom:0;
	left:0;
	background:#000;
	color:#fff;
	width:100%;
	margin:0;
}