/* Create By Aa Jimmy @2019 */


@font-face {
    font-family: HelveticaNeue-Bold;
    src: url('Font/HelveticaNeueBold.woff') format('woff');
}
@font-face {
    font-family: HelveticaNeue-Medium;
    src: url('Font/HelveticaNeue-Medium.woff') format('woff');
}
.container {
    padding-left: 0px;
    padding-right: 0px;
    border: solid 1px #e6e8f1;
}
.img-login {
    width: 91px;
    margin-right: 11px;
    display: inline-block;
    vertical-align: middle;
}
.login {
    background-color: #f9f9f9;
}
.box-login {
    padding: 14% 31%;
}
.head-login {
    text-align: center;
}
.isi-login {
    background-color: #ffffff;
    padding: 25px 0;
}
.isi-login p {
    display: inline-block;
    font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #484a4d;
    font-weight: bold;
    padding: 11px 5px;
}
.text-login {
    padding: 17px 25px 17px 145px;
}
.form-login {
    padding: 35px;
}
.form-login input {
    display: inline-block;
}
.form-login label {
    font-family: HelveticaNeue-Medium;
    font-size: 14px;
    color: #484a4d;
    margin-top: 13px;
    letter-spacing: 1px;
}
.tombol-login {
    text-align: right;
    padding: 10px 31px;
}
.btn-login {
    font-family: HelveticaNeue-Medium;
    font-size: 14px;
    color: #fff;
    padding: 15px 13px;
    border-radius: 3px;
    background-color: #f76b1c;
}
.btn-out {
    padding: 9px 29px;
}
.frm {
    margin-bottom: 10px;
}
.foot-login {
    padding: 30px 5px 7px;
    margin-left: 36%;
}
.foot-login p {
    font-family: HelveticaNeue-Medium;
    font-size: 14px;
    letter-spacing: 2px;
    color: #9b9b9b;
    margin-right: 25px;
}
.icon-login {
    display: inline-block;
    width: 22px;
    margin: 0 9px;
}

/*   -----------------------   Template Topbar --------------------   */
.head-saldo {
    width: 137px;
    margin-left: 21px;
    border-bottom: solid 2px #333333;
}
.head-saldo h4 {
    font-family: HelveticaNeue-Medium;
    font-size: 15px;
    color: #003366;
    line-height: 1.9;
    margin-bottom: 3px;
}
.head-register {
    width: 133px;
    margin-left: 21px;
    border-bottom: solid 2px #333333;
}
.head-register h4 {
    font-family: HelveticaNeue-Medium;
    font-size: 15px;
    color: #003366;
    line-height: 1.9;
    margin-bottom: 3px;
}
.head-recon {
    width: 137px;
    margin-left: 21px;
    border-bottom: solid 2px #333333;
}
.head-recon h4 {
    font-family: HelveticaNeue-Medium;
    font-size: 15px;
    color: #003366;
    line-height: 1.9;
    margin-bottom: 3px;
}
.head-lap {
    width: 103px;
    margin-left: 21px;
    border-bottom: solid 2px #333333;
}
.head-lap h4 {
    font-family: HelveticaNeue-Medium;
    font-size: 15px;
    color: #003366;
    line-height: 1.9;
    margin-bottom: 3px;
}
.head-korlap {
    width: 221px;
    margin-left: 21px;
    border-bottom: solid 2px #333333;
}
.head-korlap h4 {
    font-family: HelveticaNeue-Medium;
    font-size: 15px;
    color: #003366;
    line-height: 2;
    margin-bottom: 3px;
}
.btn-refresh-reg {
    font-family: HelveticaNeue-Medium;
    color: #34495e;
    font-size: 13px;
    margin-left: 61px;
    border-radius: 5px;
    padding: 13px 25px;
}
.btn-delete {
    font-family: HelveticaNeue-Medium;
    color: #fff;
    font-size: 8px;
    border-radius: 3px;
    padding: 5px 17px;
    background-color: #f59d15;
    float: right;
    margin-top: 7px;
}
.nav-tabs {
    border-bottom: 1px solid transparent;
    margin-left: 21px;
}
.navbar-toggle .icon-bar {
    background-color: #333333;
}
.main-header {
    width: 100%;
    height: 63px;
}
.navbar-collapse {
    padding-right: 0px;
    padding-left: 5px;
}
.navbar-collapse > li {
    padding: 0 7px;
    text-align: center;
    border-left: solid 1px #e6e8f1;
}
.navbar-collapse > li > p {
    font-family: HelveticaNeue-Medium;
    font-size: 12px;
    margin: 10px 0 0;
}
.img-logo {
    width: 91px;
    margin-top: 7px;
    margin-right: 11px;
    display: inline-block;
    vertical-align: middle
}
.btn.responsive-menu {
    padding: 8px 13px;
    margin: 0px;
    display: none;
    font-size: 15px;
}
.main-header h4 {
    display: inline-block;
    vertical-align: middle;
}
.contain {
    padding: 12px 11px;
}
.navbar-left {
    display: block;
    height: 100%;
}
.main-header .navbar-nav {
    float: left;
    margin: 1px 1px;
}
.main-header .navbar-nav > li {
    padding: 0 0px;
    text-align: center;
}
.main-header .navbar-nav > li > .active {
    padding: 0 0px;
    text-align: center;
    background-color: #fff3ed;
    padding: 7px 8px 0;
}
.main-header .navbar-nav > li > a {
    position: relative;
    display: block;
    font-size: 11px;
    padding: 7px 8px 0;
}

.main-header .navbar-nav > li > p {
    font-family: HelveticaNeue-Medium;
    font-size: 11px;
    margin: 10px 0 0;
}
.navbar-left h4 {
    font-family: HelveticaNeue-Bold;
    font-size: 15px;
    display: inline-block;
}
.icon-menu {
    width: 22px;
    height: 22px;
}

.menu-home {
    margin: 25px 0 25px 17px;
    width: 141px;
    height: 43px;
    border-radius: 5px;
    background-color: #f76b1c;
}
.menu-home > a {
    height: 43px;
    padding: 7px;
}
.menu-home p {
    display: inline-block;
    font-family: HelveticaNeue-Medium;
    color: #fff;
    padding: 11px 7px;
    margin: 4px 0 0px;
    vertical-align: middle;
}
.icon-home {
    display: inline-block;
    width: 22px;
    margin: 0 9px;
}
.icon-dash {
    display: inline-block;
    width: 22px;
    color: #fff;
}
.body-register {
    border-top: solid 1px #e6e8f1;
    padding: 19px 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff;
    cursor: default;
    background-color: #003366;
    border: 1px solid #ddd;
}
.nav-tabs > li > a {
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 0px;
}
.nav > li > a {
    position: relative;
    display: block;
    font-size: 13px;
    padding: 10px 33px;
    border: solid 1px #e6e8f1;
}
a {
    color: #333333;
    text-decoration: none;
}
.body-saldo {
    padding: 15px 45px;
    background-color: #f9f9f9;
}
.saldo {
    display: inline-block;
    margin-left: 21px;
    background-color: #f9f9f9;
}
.saldo h5 {
    padding: 17px 21px;
    border-bottom: solid 1px #e6e8f1;
}
.body-nominal {
    margin: 21px 10px;
    padding: 23px;
    border: solid 1px #e6e8f1;
    background-color: #f9f9f9;
}
.nomi {
    width: 50%;
}
.tombol-nominal {
    padding: 25px 0px;
    width: 50%;
    text-align: right;
}
.btn-nominal {
    font-family: HelveticaNeue-Medium;
    color: #34495e;
    font-size: 12px;
    margin: 9px 25px;
    padding: 15px 45px;
    border-radius: 5px;
    border: solid 1px #e6e8f1;
    background-color: #efefef;
}
.btn-nominals {
    font-family: HelveticaNeue-Medium;
    color: #ffffff;
    font-size: 12px;
    margin: 9px 25px;
    padding: 15px 45px;
    border-radius: 5px;
    border: solid 1px #e6e8f1;
    background-color: #f76b1c;
}
button.close {
    -webkit-appearance: none;
    padding: 0 0 11px 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 27px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}
.col-sm-3 {
    padding-right: 1px;
    padding-left: 1px;
}
.lap {
    padding-left: 3%;
}
.lap p {
    padding-left: 11%;
}
.top {
    padding: 11px 41px;
}
.topup {
    width: 76%;
}
.body-about {
    margin: 9% 0;
}
.body-about h6 {
    font-family: HelveticaNeue-Medium;
    font-size: 13px;
    color: #f76b1c;
    letter-spacing: 1px;
}
.laptgl {
    padding-right: 0px;
    padding-left: 3px;
}
.laptgls {
    margin-left: 21px;
    padding-right: 0px;
    padding-left: 3px;
}
.btn-tampil-topup {
    font-family: HelveticaNeue-Medium;
    color: #ffffff;
    background-color: #f76b1c;
    border-radius: 5px;
    font-size: 13px;
    padding: 13px 39px;
    margin-left: 23px;
}
.panel-title h4 {
    font-family: HelveticaNeue-Medium;
    font-size: 15px;
    color: #003366;
    display: inline-block;
    margin-left: 17px;
}
.panel-title:before {
    font-family: 'Glyphicons Halflings';
    content:"\e259";
}
.panel-title a.collapse.in:before {
    font-family: 'Glyphicons Halflings';
    content:"\e259";
    transform: rotate(180deg);
}

.table>thead>tr>th {
    font-family: HelveticaNeue-Medium;
    text-align: center;
    font-size: 13px;
}
.table>tbody>tr>td {
    text-align: center;
}
.body-registrasi {
    margin: 21px;
    border: solid 1px #e6e8f1;
    background-color: #f9f9f9;
}
.body-registrasi h5 {
    font-family: HelveticaNeue-Bold;
    font-size: 14px;
    color: #484a4d;
    margin: 21px;
}
.form-regist {
    padding: 25px;
}
.full-regist {
    width: 100%;
}
.input-regist {
    width: 50%;
    padding: 0 10px;
}
.input-regist label {
    font-family: HelveticaNeue-Bold;
    font-size: 14px;
    color: #484a4d;
    text-align: right;
    padding-right: 35px;
}
.form-horizontal .control-label{
    padding-top: 7px;
    text-align: left;
}

.form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.tombol-register {
    text-align: center;
    padding: 35px;
}
.btn-register {
    font-family: HelveticaNeue-Medium;
    color: #34495e;
    opacity: 0.5;
    font-size: 12px;
    margin: 9px 32px;
    padding: 15px 55px;
    border-radius: 5px;
    border: solid 1px #e6e8f1;
    background-color: #efefef;
}
.btn-register:focus {
    font-family: HelveticaNeue-Medium;
    color: #ffffff;
    font-size: 12px;
    margin: 9px 32px;
    padding: 15px 55px;
    border-radius: 5px;
    background-color: #f76b1c;
}
.footer {
    padding: 7px;
    border-top: solid 1px #e6e8f1;
    border-bottom: solid 1px #e6e8f1;
}
.icon-footer {
    width: 14px;
}
.online {
    display: inline-block;
    background-color: #61b109;
    border-radius: 5px;
    padding: 5px;
    vertical-align: middle;
}
.online p {
    font-family: HelveticaNeue-Medium;
    color: #fff;
    margin: 0 0 0px;
    padding: 3px 15px;
}
.ip {
    display: inline-block;
    padding: 0 45px;
}
.ip p {
    font-family: HelveticaNeue-Medium;
    color: #333d58;;
    margin: 0 0 0px;
}
.akun {
    display: inline-block;
    vertical-align: middle;
}
.akun p {
    font-family: HelveticaNeue-Medium;
    color: #333d58;
    margin: 0 0 0px;
}
.date {
    display: inline-block;
    float: right;
    margin-right: 35px;
    vertical-align: middle;
}
.date p {
    font-family: HelveticaNeue-Medium;
    color: #333d58;
    margin: 7px 0 0px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #333333;
    border-radius: 4px;
}
.korlap {
    padding: 45px 0;
}
.radio-korlap{
    display: inline-block;
    margin-right: 59px;
}
.radio-korlap label {
    font-family: HelveticaNeue-Medium;
    font-size: 13px;
}
.radio-korlap > input[type=radio] {
    margin: 4px 15px;
}
.radio-korlap > input[type=radio]:checked {
    margin: 4px 15px;
    color: #f76b1c;
}
.body-korlap {
    margin-top: 29px;
    border: solid 1px #e6e8f1;
    background-color: #f9f9f9;
}
.body-korlap h5 {
    font-family: HelveticaNeue-Bold;
    font-size: 14px;
    color: #484a4d;
    padding: 21px;
    border: solid 1px #e6e8f1;
}
.label-kor {
    margin-top: 11px;
}
.btn-refresh-lap {
    font-family: HelveticaNeue-Medium;
    color: #34495e;
    font-size: 13px;
    background-color: #dddddd;
    border-radius: 5px;
    text-align: right;
    margin-left: 26%;
    padding: 13px 10px;
}
.btn-refresh {
    font-family: HelveticaNeue-Medium;
    color: #333d58;
    font-size: 13px;
    margin-left: 151px;
    padding: 13px 45px;
}
.btn-tampilkan {
    font-family: HelveticaNeue-Medium;
    color: #ffffff;
    background-color: #f76b1c;
    border-radius: 7px;
    font-size: 13px;
    margin-left: 21px;
    padding: 13px 59px;
}
.lap-korlap {
    margin: 0 21px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    background-color: #ebf5ff;
    border: solid 1px #b6d0e9;
}
.panel-title h5 {
    font-family: HelveticaNeue-Medium;
    color: #003366;
    font-size: 13px;
    margin: 5px 21px;
}
.btn-tampil {
    margin: 25px 11px 25px 27px;
    padding: 9px 35px;
    border-radius: 5px;
}
.body-dashboard {
    margin: 155px 17px;
    padding: 11px;
}
.body-dashboard h2 {
    font-family: HelveticaNeue-Bold;
    font-size: 28px;
    color: #484a4d;
    margin-bottom: 45px;
}
.body-dashboard p {
    font-family: HelveticaNeue-Medium;
    color: #484a4d;
    font-size: 14px;
}
.foot-dashboard {
    margin: 95px 17px;
}
.foot-dashboard p {
    font-family: HelveticaNeue-Medium;
    color: #484a4d;
    font-size: 14px;
}
.btn-refresh-recon {
    font-family: HelveticaNeue-Medium;
    color: #34495e;
    font-size: 13px;
    background-color: #dddddd;
    border-radius: 7px;
    margin-left: 22px;
    padding: 13px 10px;
}
.bootstrap-select>.dropdown-toggle {
    width: 100%;
    height: 45px;
    padding-right: 25px;
    z-index: 1;
}
.menu-recon {
    margin: 25px 0;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd;
    background-color: #fff;
}
.proses {
    margin-top: 20%;
}



/*   ---------------------------------------  Mobile View ------------------------------------   */

@media (min-width: 768px) {
    .navbar-right {
        float: right!important;
        margin-right: -9px;
    }
}

@media (min-width: 1400px) {

}

@media (min-width: 1024px) and (max-width: 1399px) {
    .box-login {
        padding: 16% 28%;
    }
    .foot-login {
        margin-left: 25%;
    }
    .foot-login p {
        margin-right: 11px;
    }

    .container {
        border: solid 1px #e6e8f1;
    }
    .main-header {
        height: 63px;
    }
    .main-header .navbar-nav {
        margin: 2px -4px;
    }
    .main-header .navbar-nav > li {
        padding: 0 0px;
    }
    .navbar-left h4 {
        font-size: 14px;
    }
    .img-logo {
        width: 77px;
        margin-right: 11px;
    }
    .main-header h4 {
        display: none;
    }
    .main-header .navbar-nav > li > p {
        font-size: 10px;
    }
    .main-header .navbar-nav > li > a {
        font-size: 10px;
        padding: 7px 5px 0;
    }
    .nav > li > a {
        font-size: 12px;
        padding: 10px 24px;
    }
    .btn-register {
        margin: 9px 25px;
        padding: 15px 43px;
    }
    .ip {
        padding: 0 37px;
    }
    .ip p {
        font-size: 12px;
    }
    .akun p {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .box-login {
        padding: 16% 23%;
    }
    .foot-login {
        margin-left: 20%;
    }
    .foot-login p {
        margin-right: 11px;
    }
    .container {
        border: solid 1px #e6e8f1;
    }
    .main-header {
        height: 63px;
    }
    .main-header .navbar-nav {
        margin: 2px -4px;
    }
    .main-header .navbar-nav > li {
        padding: 0 0px;
    }
    .navbar-left h4 {
        font-size: 14px;
    }
    .img-logo {
        width: 69px;
        margin-right: 9px;
    }
    .main-header .navbar-nav > li > p {
        font-size: 8px;
    }
    .main-header .navbar-nav > li > a {
        font-size: 9px;
        padding: 7px 5px 0;
    }
    .main-header h4 {
        display: none;
    }
    .icon-menu {
        width: 19px;
        height: 19px;
    }
    
    .nav > li > a {
        font-size: 10px;
        padding: 10px 15px;
    }
    .btn-register {
        margin: 9px 14px;
        padding: 15px 35px;
    }
    .ip {
        padding: 0 17px;
    }
    .ip p {
        font-size: 10px;
    }
    .akun p {
        font-size: 10px;
    }
    .date {
        margin-right: 17px;
    }
    .date p {
        font-size: 10px;
    }
    
}

@media (min-width: 414px) and (max-width: 767px) {
    .box-login {
        padding: 30% 1%;
    }
    .foot-login {
        margin-left: 18%;
    }
    .foot-login p {
        margin-right: 9px;
    }
    .main-header {
        margin: 2px 0 0;
    }
    .nav > li > a {
        font-size: 11px;
        padding: 10px 16px;
    }
    .btn-register {
        margin: 9px 4px;
        padding: 15px 35px;
    }
    .online p {
        font-size: 12px;
    }
    .ip {
        padding: 0 17px;
    }
    .ip p {
        font-size: 10px;
    }
    .akun p {
        font-size: 10px;
    }
    .date {
        margin-right: 17px;
    }
    .date p {
        font-size: 10px;
    }
    .navbar-nav {
        background-color: #ccc;
    }
    .navbar-nav > li {
        display: inline-block;
        padding: 7px 13px;
    }
}

@media (min-width: 321px) and (max-width: 413px) {
    .box-login {
        padding: 30% 1%;
    }
    .foot-login {
        margin-left: 10%;
    }
    .foot-login p {
        margin-right: 9px;
    }
    .btn-login {
        font-size: 13px;
        padding: 14px 13px;
    }
    .form-login label  {
        margin-left: -15px;
        margin-right: 12px;
    }
    .main-header {
        margin: 2px 0 0;
    }
    .nav > li > a {
        font-size: 11px;
        padding: 10px 10px;
    }
    .btn-register {
        margin: 9px 4px;
        padding: 15px 25px;
    }
    .online p {
        font-size: 12px;
    }
    .ip {
        padding: 0 7px;
    }
    .ip p {
        font-size: 10px;
    }
    .akun p {
        font-size: 8px;
    }
    .date {
        margin-right: 7px;
    }
    .date p {
        font-size: 8px;
    }
    .navbar-nav {
        background-color: #ccc;
    }
    .navbar-nav > li {
        display: inline-block;
        padding: 6px 8px;
    }
}

@media (max-width: 320px) {
    .box-login {
        padding: 30% 1%;
    }
    .foot-login {
        margin-left: 3%;
    }
    .foot-login p {
        margin-right: 7px;
    }
    .btn-login {
        font-size: 13px;
        padding: 14px 13px;
    }
    .form-login label  {
        margin-left: -17px;
        margin-right: 17px;
    }
    .main-header {
        margin: 2px 0 0;
    }
    .nav > li > a {
        font-size: 9px;
        padding: 10px 10px;
    }
    .btn-register {
        margin: 9px 9px;
        padding: 15px 15px;
    }
    .online p {
        font-size: 10px;
    }
    .ip {
        padding: 0 7px;
    }
    .ip p {
        font-size: 9px;
    }
    .akun p {
        font-size: 7px;
    }
    .date {
        margin-right: 7px;
    }
    .date p {
        font-size: 8px;
    }
    .navbar-nav {
        background-color: #ccc;
    }
    .navbar-nav > li {
        display: inline-block;
        padding: 6px 8px;
    }
    .img-logo {
        width: 67px;
        margin-right: 1px;
    }
    .main-header {
        height: 51px;
    }
    .main-header h4 {
        font-size: 14px;
    }
}